[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/libansilove"]
	path = thirdparty/libansilove
	url = https://github.com/kajott/libansilove
